
.img {
  background: #2b1e16;
  /* margin: 0 20px; */
  display: flex;
  /* width: 100vw; */
  flex-wrap: wrap;
  /* height: 350px; */
  padding-bottom: 80px;
  justify-content: space-around;
  text-align: center;
}

.box {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  color: #fff;
  justify-content: center;
  align-items: center;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
}
.box img {
  height: 200px;
  width: 120px;
}
.heading {
  padding-top: 20px;
  font-size: 20px;
  font-weight: 600;
  margin-top: 0;
}
.sub-heading {
  font-size: 15px;
  width: 260px;
  margin-top: 10px;
  color: #e0cbc1;
  line-height: 1.3;
}
