.FourthSection {
  padding: 0 20px;
  background-color: #000;
  min-height: 298px;
  /* width: 100%; */
  color: #fff;
  padding-top: 76px;
}
li:hover{
  font-weight: 600;

}
.col {
  display: flex;
  /* height: 320px; */
  border-bottom: 1px solid #4d4d4d;
  justify-content: space-around;
  /* min-width: 300px; */
  flex-wrap: wrap;
}
.box-1 img :nth-child(1){
  width: 60px;
}
img:hover{
  cursor: pointer;
  transform: scale(1.1);
}

.box-1 {
  display: flex;
  flex-direction: column;
  text-align: end;
  padding-left: 20px;
}
.box-1 h5 {
  color: gray;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
}

.box-1 ul {
  text-align: start;
  margin-top: 30px;
  list-style-type: none;
}

.box-1 l1 {
  display: block;
  margin-top: 0;
  font-size: 17px;
  font-weight: 300;
}
.box-2 {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 150px;
}
